 
    <div class="mb-3">
        <label for="floatingInput">FROM</label>
        <input type="email" class="form-control" id="floatingInput" value=<%=fromemail%> placeholder="email@email.com" name="from_email">
    </div>
 
    <div class="mb-3">
        <label for="floatingInput">TO</label>
        <input type="email" class="form-control" id="floatingInput" value=<%=foremail%> placeholder="email@email.com" name="for_email">
    </div>
  
    <div class="mb-3">
        <label for="feedback">FEEDBACK</label>
        <textarea class="form-control" placeholder="Leave a feedback here" id="feedback" name="feedback" style="height: 200px"><%=feedback%></textarea>     
    </div>